/* global style */
* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;  
}
p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}
.primary-btn {
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    height: 64px;
    border: none;
    border-radius: 8px;
    text-align: center;
    outline: none;
}

.section-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}

/* header style */
header {
    width: 100%;
    margin: 0;
    height: 800px;
    background-image: url('images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
}

.main-header {
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
}

.header-content {
    width: 525px;
    float: right;
    text-align: right; 
    margin-top: 155px;
}
.header-content h1 {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #151414;
}

.header-content p {    
    margin-bottom: 32px;
}
.header-content button.primary-btn {
    background-color: #F15B22;
    color: #fff;
}

/* my failure section styling */
.my-failure-section {
    display: flex;
    justify-content: space-around;
    max-width: 1140px;
    margin: 0 auto;
    padding: 130px 20px 0;
}

.failure-image {
    overflow: hidden;
    width: 50%;
    padding-right: 100px;
}

.failure-image img {
    max-width: 100%;
    border-radius: 15px;
}

.failure-content {
    max-width: 416px;
}

.section-title {
    margin-bottom: 24px;
}

.failure-content p {
    margin-bottom: 16px;
}

.failure-content ul {
    padding: 0;
    list-style: none;
    
}
.failure-content li {    
    padding: 0 0 0 35px;
    background-image: url('icons/check.png');
    background-position: left;
    background-repeat: no-repeat;
}

.failure-content li::marker {
    color: green;
    font-weight: 600;
    width: 20px;
}

/* my plans styling */
.my-plans {
    max-width: 1140px;
    margin: 0 auto;
    padding: 130px 20px;
}

.my-plans-inner {
    display: flex;
    justify-content: space-between;
}

.my-plan-icon {
    max-width: 92px;
    margin: 0 auto 24px;
}

.my-plan-icon img {
    max-width: 100%;
}

.my-plans-box h4 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #151414;
    margin-bottom: 16px;
}
.my-plans-box p {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 16px;
}


/* positive-think style */
.positive-think {
    
    max-width: 1140px;
    margin: 0 auto 130px;   
    background-image: url('images/watch.png'); 
    border-radius: 8px;
    overflow: hidden;
}

.positive-think-inner {        
    background-color: rgb(241,91,34);
    background: linear-gradient(90deg, rgba(241, 91, 34, 0.64) 0%, rgba(241, 91, 34, 0.58) 10%, rgba(241,91,34,0) 100%);    
}

.positive-think-content {
    padding: 60px;
    max-width: 460px;
}

.positive-think-content h3 {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}

.positive-think-content button {
    color: #F15B22;
    background-color: #ffffff;
}


/* mission vision style */

.mission-vision {
    background-color: #eaeaea; 
    background-image: url('images/mission-vision.png');
    background-repeat: no-repeat;
    background-position: center left;   
}

.mission-vision-inner {
    max-width: 1140px;
    margin: 0 auto;
    padding: 100px 0 130px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.mission-vision-inner h3 {
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    display: inline-block;
    border-bottom: 2px solid #F15B22;
}

.mission-vision-inner p {
    color: #222;
}

.mission-box,
.vision-box,
.all-about {
    max-width: 270px;
}

/* footer style */

footer {
    width: 100%;
    background-color: #151414;
}

.footer-section {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding: 130px 20px;
    overflow: hidden;
}

.footer-content {
    max-width: 485px;
}

.footer-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;
    margin-bottom: 16px;
}

.footer-content p {
    color: #FFFFFF;
    margin-bottom: 16px
}
.footer-content p.footer-description {
    margin-bottom: 24px;
}

/* social section style */

.social-icons {
    list-style: none;
    display: flex;
    padding: 0;
}
.social-icons li {
    margin-right: 16px;
}
.social-icons li a {
    width: 46px;
    height: 46px;
    display: block;
}

.social-icons li a img {
    width: 100%;
}


/* footer form style */
.footer-form {
    width: 325px;
}

.form-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.footer-form form input[type="email"] {
    outline: none;
}

.footer-form form input[type="email"] {
    margin-bottom: 16px;
    border: 0;
    width: 300px;
    padding: 0 20px;
    height: 64px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #F3F3F3;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    background-color: transparent;
}

.footer-form form input[type="email"]::placeholder {    
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #F3F3F3;
}

.footer-form form input[type="submit"] {
    color: #F15B22;
}






