/* global style */
* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;  
}
p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}
button {
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    height: 64px;
    border: none;
    border-radius: 8px;
    text-align: center;
}

/* header style */
header {
    width: 100%;
    margin: 0;
    padding: 20px;
    height: 800px;
    background-image: url('images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
}

.main-header {
    max-width: 1140px;
    margin: 216px auto 0;
}

.header-content {
    width: 525px;
    float: right;
    text-align: right; 

}
.header-content h1 {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #151414;
}

.header-content p {
    
    margin-bottom: 32px;
}
.header-content button.primary-btn {
    background-color: #F15B22;
    color: #fff;
}