/* global style */
* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;  
}
p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}
button {
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    height: 64px;
    border: none;
    border-radius: 8px;
    text-align: center;
}

.section-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}

/* header style */
header {
    width: 100%;
    margin: 0;
    height: 800px;
    background-image: url('images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
}

.main-header {
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
}

.header-content {
    width: 525px;
    float: right;
    text-align: right; 
    margin-top: 155px;
}
.header-content h1 {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #151414;
}

.header-content p {    
    margin-bottom: 32px;
}
.header-content button.primary-btn {
    background-color: #F15B22;
    color: #fff;
}

/* my failure section styling */
.my-failure-section {
    display: flex;
    justify-content: space-around;
    max-width: 1140px;
    margin: 0 auto;
    padding: 130px 20px 0;
}

.failure-image {
    overflow: hidden;
    width: 50%;
    padding-right: 100px;
}

.failure-image img {
    max-width: 100%;
    border-radius: 15px;
}

.failure-content {
    max-width: 416px;
}

.section-title {
    margin-bottom: 24px;
}

.failure-content p {
    margin-bottom: 16px;
}

.failure-content ul {
    padding: 0;
    list-style: none;
    
}
.failure-content li {    
    padding: 0 0 0 35px;
    background-image: url('icons/check.png');
    background-position: left;
    background-repeat: no-repeat;
}

.failure-content li::marker {
    color: green;
    font-weight: 600;
    width: 20px;
}

/* my plans styling */
.my-plans {
    max-width: 1140px;
    margin: 0 auto;
    padding: 130px 20px 0;
}

.my-plans-inner {
    display: flex;
    justify-content: space-between;
}

.my-plan-icon {
    max-width: 92px;
    margin: 0 auto 24px;
}

.my-plan-icon img {
    max-width: 100%;
}

.my-plans-box h4 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #151414;
    margin-bottom: 16px;
}
.my-plans-box p {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 16px;
}

/* footer style */

footer {
    width: 100%;
    background-color: #151414;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding: 130px 20px;
    overflow: hidden;
}

.footer-content {
    max-width: 485px;
}

.footer-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;
    margin-bottom: 16px;
}

.footer-content p {
    color: #FFFFFF;
    margin-bottom: 16px
}
.footer-content p.footer-description {
    margin-bottom: 24px;
}

/* social section style */

.social-icons {
    list-style: none;
    display: flex;
    padding: 0;
}
.social-icons li {
    margin-right: 16px;
}
.social-icons li a {
    width: 46px;
    height: 46px;
    display: block;
}

.social-icons li a img {
    width: 100%;
}


/* footer form style */




